.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 50%;
}

.login h2{
    margin-bottom: 20px;
}

.login input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
}

.login button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.login button:hover{
    background-color: #e01212;
    color: #000;
}